.item {
  display: flex;
  padding: 10px 16px;
}

.text {
  font-size: 14px;
  font-family: 'OpenSans';
  font-weight: 400;
  line-height: 20px;
}

.button {
  display: flex;
  gap: 8px;
  border: none;
  background-color: transparent;
  align-items: center;
  padding: 0;
}
