.button {
  height: 32px;
  width: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: #fff;
  flex-shrink: 0;
}

/* .button_gear {
  background-image: url(../../images/Gear.svg);
} */
