.taskContainer {
  width: 100%;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  top: 49px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
  @media screen and (max-width: 850px) {
    padding: 16px;
  }
}

.modalSubheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 18px 16px;
  border-bottom: var(--border);

  .subtitle {
    display: inline;
  }
}

.subheader_border_visible {
  position: sticky;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);

  @media screen and (max-width: 850px) {
    position: unset;
    box-shadow: unset;
  }
}

.subheaderContainer {
  display: flex;
  align-items: center;
}

.subheaderContainer_left {
  gap: 16px;
}

.subheaderContainer_right {
  gap: 8px;
  @media screen and (max-width: 850px) {
    display: none;
  }
}

.createButton {
  @media screen and (max-width: 850px) {
    display: none;
  }
}

.subtitle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  @media screen and (max-width: 850px) {
    display: none;
  }
}

.subtitle_tablet {
  display: none;

  @media screen and (max-width: 850px) {
    display: inline !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
    color: #5c6470;
    letter-spacing: -1px;
  }
}

.title {
  padding: 0;
  margin: 0;
  line-height: 32px;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 24px;

  @media screen and (max-width: 850px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.title_modal {
  margin-bottom: 16px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
}

.formWrapper_modal {
  @media screen and (max-width: 850px) {
    margin: 16px 0;
  }
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media screen and (max-width: 991px) {
    display: flex;
    flex-direction: column;
  }
}

.formFlex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.closeButton {
  display: none;
  @media screen and (max-width: 850px) {
    display: flex;
  }
}
