.taskContainer {
  width: 100%;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  width: 100%;
  background-color: #fff;
}

.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  top: 49px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1;
}

.subheader_modal {
  padding: 24px;
}

.subheader_border_visible {
  position: sticky;
  /* margin-top: 49px; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
}

.subheaderContainer {
  display: flex;
  align-items: center;
}

.subheaderContainer_left {
  gap: 16px;
}

.subheaderContainer_right {
  gap: 8px;
}

.subtitle {
  font-weight: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.title {
  padding: 0;
  margin: 0;
  line-height: 32px;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 24px;
}

.title_modal {
  margin-bottom: 16px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.formFlex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.editModalHedaer {
}
