.app {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.menu {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 14px 16px 16px 16px;
  flex-grow: 1;
  box-sizing: border-box;
  max-width: calc(100vw - 336px);
}

.main_menu_closed {
  max-width: calc(100vw - 56px);
}
