.app {
  /* max-width: 1920px; */
  margin: 0 auto;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.content {
  display: flex;
  flex-grow: 1;
  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 0 16px;
  flex-grow: 1;
  box-sizing: border-box;
  margin-left: 336px;
  /* margin-top: 49px; */
  max-width: calc(100% - 336px);

  @media screen and (max-width: 767px) {
    /* margin-left: 0; */
    margin-left: 280px;
    max-width: calc(100% - 280px);
    /* margin-top: 56px; */
  }
}

.main_menu_closed {
  margin-left: 56px;
  max-width: calc(100% - 56px);
  @media screen and (max-width: 767px) {
    max-width: calc(100%);
    margin-left: 0;
  }
}
