.app {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.menu {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 0 16px;
  flex-grow: 1;
  box-sizing: border-box;
  margin-left: 336px;
  margin-top: 49px;
  max-width: calc(100vw - 336px);
}

.main_menu_closed {
  margin-left: 56px;
  max-width: calc(100vw - 56px);
}
