.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: flex;
  gap: 4px;
  font-family: 'OpenSans';
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
}

.required {
  color: #b21f00;
}

.input {
  padding: 6px 0 6px 8px;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 14px;
  line-height: 20px;
  font-family: 'OpenSans';
  font-weight: 400;
  outline: none;
  width: 100%;
  height: 32px;
  box-sizing: border-box;
}

.searchButton * {
  fill: #2e3238;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
