.header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: var(--border);
  justify-content: space-between;
}

.logo {
  width: 174px;
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 577px;
  width: 100%;
}

.optionsContainer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  justify-content: flex-end;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.fullname {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: -0.5px;
}
