.header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: var(--border);
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #fff;
  @media screen and (max-width: 767px) {
    padding: 12px 16px;
  }
}

.logo {
  width: 174px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.search {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 577px;
  width: 100%;

  @media screen and (max-width: 767px) {
    gap: 16px;
  }
}

.optionsContainer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  justify-content: flex-end;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  @media screen and (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}

.fullname {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: -0.5px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menuButton {
  display: none;
  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.activeIcon * {
  fill: #005999;
}
