.navigator {
  display: flex;
  max-width: 336px;
  flex-shrink: 0;
}

.navigator_open {
  width: 100%;
}

.navigatorTabs {
  display: flex;
  flex-direction: column;
  border-right: var(--border);
}
