.navigator {
  display: flex;
  max-width: 336px;
  flex-shrink: 0;
  height: 100vh;
  align-self: flex-start;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 49px;
  z-index: 2;
  @media screen and (max-width: 767px) {
    /* max-width: 280px; */
    max-width: unset;
    top: 56px;

    /* overflow: hidden; */
  }
}

.navigator_open {
  width: 100%;
}

.navigatorTabs {
  display: flex;
  flex-direction: column;
  border-right: var(--border);

  @media screen and (max-width: 767px) {
    display: none;
  }
}
